<div class="em-l-container">
    
<div class="em-c-page-header " style="margin-bottom: 30px;">
    <!-- h1 class="em-c-page-header__title">Let's Stay Connected !</h1 -->
	<h1 class="em-c-hero__title--bold" style="color: #890c58; font-weight: bold;"><br>Let's stay connected!</h1>
	<p class="em-c-page-header__desc">Stay tuned with upcoming trainings, conferences, and interest network <br>get-together.</p>
    <!-- <p class="em-c-page-header__desc">This is a summary block of text that is used to introduce the page, provide additional context or instructions, etc.</p> -->
  </div>
    <ul class="em-c-card-list  em-l-grid em-l-grid--3up" id="gridlist">
        <li class="em-c-card-list__item em-l-grid__item" ng-repeat="item in rows">
            <div class="em-c-card em-c-card--capped" style="border-top-color:{{ item.color }}"><span class="em-c-card__flag"
                    style="background:{{ item.color }}">{{ item.Event_Type }}</span>
                <div class="em-c-card__body">
                    <div class="em-c-media-block em-c-media-block--small">
                        <div class="em-c-media-block__media"><img
                                src="event_thumbnail/{{item.Thumbnail}}"
                                alt="Alt Text" class="em-c-media-block__img"></div>
                        <div class="em-c-media-block__body">
                            <h2 class="em-c-media-block__headline " onclick="showDetails(68);"><a
                                    href="#viewdetails">{{ item.Title }}</a></h2>
                            <p class="em-c-media-block__desc">{{ item.Description }}</p>
                            <p class="em-c-media-block__desc"><b>Event Date: </b>{{ item.Event_Date }}</p>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <ul class="em-c-tags ">
                        <li class="em-c-tags__item em-js-tags-item">
                            <a href="#" class="em-c-tags__link ">

                                {{ item.OData__x0054_ag1 }}

                            </a>
                        </li>
                        <li class="em-c-tags__item em-js-tags-item">
                            <a href="#" class="em-c-tags__link ">

                                {{ item.OData__x0054_ag2 }}

                            </a>
                        </li>
                        <li class="em-c-tags__item em-js-tags-item">
                            <a href="#" class="em-c-tags__link ">

                                {{ item.OData__x0054_ag3 }}

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="em-c-card__footer">
                    <div class="em-c-card__actions">
                        <a href="{{ item.Event_Link }}" class="em-c-btn em-c-btn--small em-c-btn--inverted em-js-modal-trigger" target="_blank">
                            <span class="em-c-btn__text">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>