<section class="em-c-section ">

    <div class="em-l-container">
        <blockquote class="em-c-pullquote">
            <svg class="em-c-icon em-c-icon--large em-c-pullquote__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="unity-1.5.0/images/48/em-icons.svg#quote-left">
                </use>
            </svg>
            <div class="em-c-pullquote__quote">... KLGBC people and the teams who are recognized & appreciated through their achievements and role model behaviours...</div>
            <cite class="em-c-pullquote__citation">Kamarudin Mustapa, KLGBC Chief of Site</cite>
        </blockquote>
    </div>
</section>