<div class="em-c-hero em-c-hero--bare"
    style="background: #0F0E1F url('unity-1.5.0/images/hero_pattern.png') 0% 0% no-repeat padding-box; padding-bottom: 8rem;z-index: -1;">
    <div class="em-c-hero__body" style="padding-left: 300px;">
        <h1 class="em-c-hero__title--bold" style="font-weight: bold;">Unlock your true potential</h1>
        <h1 class="em-c-hero__desc">It’s about time to invest in our future. Change is inevitable, in this rapidly
            evolving industry, the only way to stay relevant is to upskill oneself throughout one’s career.
        </h1>
    </div>

</div>

<main role="main" style="margin-top: -210px;">

    <div class="em-l-container">
        <div style="padding-bottom: 30px;">
            <h2 style="color: white;">What's new</h2>
        </div>
        <ul class="em-c-card-list  em-l-grid em-l-grid--4up" style="z-index: 1;">
            <li class="em-c-card-list__item em-l-grid__item"
                style="border-radius: 15px; background:white; padding:0px; box-shadow: 1px 1px 5px #888888; margin-right: 50px; max-height: 450px;"
                ng-repeat="item in rows">
                <div class="em-c-stacked-block " style="border: none;">
                    <div class="em-c-stacked-block__header">
                        <img src="{{ item.banner }}" class="em-c-stacked-block__img"
                            style="min-height: 180px;border-radius: 15px 15px 0px 0px;" />
                    </div>
                    <div class="em-c-stacked-block__body">
                        <a href="{{ item.link }}" class="em-c-stacked-block__title " target="_blank"
                            style="text-decoration: none; padding: 20px;">{{ item.Title }}</a>
                        <p class="em-c-stacked-block__desc" style="padding: 20px;">{{ item.description }}</p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="em-c-page-header " style="padding-top: 60px;">
            <h2 class="em-c-page-header__title" style="color: #3c3b3b;"> <!--#890c58-->
                <b>Are you ready?</b></h2>
            <section class="em-c-section em-c-section em-c-section--split">
                <header class="em-c-section__header ">
                    <h2 class="em-c-section__title ">
                        <img src="unity-1.5.0/images/ktdc_images/launch_1.jpg" style="max-width: 150%;">
                    </h2>
                </header>
                <div class="em-c-section__body" style="color: #595858; padding-left: 40px; padding-top: 80px">
                    <!-- h2>Upskilling has become a favourite buzzword of late as organizations feel the
                        pressure to meet shifting shifting needs
                    </h2 -->
                    <h3> A recent Gartner research report found that "While the number of skills required for a single
                        job is increasing by 10% year-over-year, 33% of the skills
                        needed three years ago are no longer relevant." </h3>
                    <h3> How can we shift our focus to a more dynamic and responsive approach to skills? </h3>
                </div>
            </section>
        </div>

    </div>
    <section class="em-c-section " style="background: linear-gradient(45deg, #3a397b, #890c58);">
        <div class="em-l-container" style="padding-bottom:50px; padding-top: 50px;">

            <header class="em-c-section__header " style="color: white; border: none;">
                <h2>Start your journey now!</h2>
                <p class="em-l-linelength-container">These are KLGBC's skill focus areas. Stay savvy with available
                    learning resources <br> Learn what you want, at your own pace!</p>
                <!-- h1 class="em-c-hero__desc">Get to know your upskilling ambassadors</h1-->
            </header>

            <ul class="em-c-card-list  em-l-grid em-l-grid--3up">
                <li class="em-c-card-list__item em-l-grid__item">
                    <div class="em-c-card " style="border-radius: 15px; background: white;">
                        <div class="em-l-container">
                            <div class="em-c-card__body">
                                <!-- a href="https://goto/wwa" target="_blank" -->
                                <img width="150px" class="em-u-margin-left-double em-u-margin-top-double"
                                    src="unity-1.5.0/images/ktdc_images/startup.jpg">
                                </a>
                                <div class="em-c-media-block em-c-media-block--small">
                                    <div class="em-c-media-block__body">
                                        <h2 class="em-c-media-block__headline ">
                                            Automation
                                        </h2>
                                        <p class="em-c-media-block__desc">Go from repetitive works to lightning speed of
                                            product delivery</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="em-c-card-list__item em-l-grid__item">
                    <div class="em-c-card " style="border-radius: 15px; background: white;">
                        <div class="em-l-container">
                            <div class="em-c-card__body">
                                <!-- a href="https://goto/datatraining" target="_blank" -->
                                <img width="150px" class="em-u-margin-left-double em-u-margin-top-double"
                                    src="unity-1.5.0/images/ktdc_images/analysis.jpg">
                                </a>
                                <div class="em-c-media-block em-c-media-block--small">
                                    <div class="em-c-media-block__body">
                                        <h2 class="em-c-media-block__headline ">
                                            Data & Analytics
                                        </h2>
                                        <p class="em-c-media-block__desc">Stop guessing! Get powerful insights by
                                            shifting towards data centric approach</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="em-c-card-list__item em-l-grid__item">
                    <div class="em-c-card " style="border-radius: 15px; background: white;">
                        <div class="em-l-container">
                            <div class="em-c-card__body">
                                <!-- a href="#" ng-href="#" -->
                                <img width="150px" class="em-u-margin-left-double em-u-margin-top-double"
                                    src="unity-1.5.0/images/ktdc_images/cloudcomp.jpg">
                                </a>
                                <div class="em-c-media-block em-c-media-block--small">
                                    <div class="em-c-media-block__body">
                                        <h2 class="em-c-media-block__headline ">
                                            Cloud Computing
                                        </h2>
                                        <p class="em-c-media-block__desc">Focus more on how you do computing rather
                                            than
                                            where you do computing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div style="display: flex; justify-content: center; padding-top: 50px;">
                <a href="#!/resources" class="em-c-btn em-c-btn--secondary em-c-btn--small" target="_self">
                    <span class="em-c-btn__text" style="color: white;">View all learning resources</span>
                </a>
            </div>
        </div>
    </section>
    <section class="em-c-section ">
        <div class="em-l-container" style="padding-bottom: 0px; padding-top: 0px;">
            <div class="em-c-promo-block" style="background: white;">
                <h2 class="em-c-promo-block__title" style="color: #3c3b3b;">Stay connected! Check out upcoming events and training sessions.</h2>
                <!-- <p class="em-c-promo-block__desc">This is some additional text that accompanies the headline, which could be
                    used to provide a short description</p> -->
                <div class="em-c-promo-block__actions">
                    <div class="em-c-btn-group em-c-btn-group--responsive">
                        <a href="#!/events" target="_self">
                            <button class="em-c-btn em-c-btn--secondary">
                                <span class="em-c-btn__text">View all events</span>  
                          </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="em-c-section em-u-padding-top-quad em-u-padding-bottom-quad em-u-margin-bottom-none" style="background: url('unity-1.5.0/images/hero_pattern_purple.jpg');">
        <!-- style="background: linear-gradient(45deg, #3a397b, #890c58);"-->
		<!-- style="background: #0F0E1F url('unity-1.5.0/images/hero_pattern.png')" -->
        <div class="em-l-container">

            <header class="em-c-section__header " style="border: none; margin-bottom: 0px; height: 50px;">
                <h2 style="color: white;">We are in this together!</h2>
                <!-- h2 class="em-c-section__title em-u-font-size-large">
                    Get to know your upskilling ambassadors
                </h2 -->
                <!-- p class="em-l-linelength-container">Get to know your upskilling ambassadors </p -->
                <h1 class="em-c-hero__desc" style="margin-bottom: 30px; color: white;">Get to know your upskilling
                    ambassadors</h1>


            </header>

            <style>
                .link {
                    text-decoration: none;
                }
            </style>

            <div class="em-c-section__body em-u-padding-top-double">



                <div class="em-l-grid em-l-grid--5up em-l-grid--break-slow ">
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#map"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/innovation_network" target="_self"
                                class="em-c-text-link link" style="color: white;">Innovation Network</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#upload-cloud"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/cloud_network" target="_self" class="em-c-text-link link" style="color: white;">
                                Cloud
                                Network</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-top-double">

                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#rocket"></use>
                            </svg>
                        </span>

                        <h5 class="em-u-padding-top-double">

                            <a href="#!/interest_network/automation_cop" target="_self"
                                class="em-c-text-link link " style="color: white;">Automation CoP</a>
                        </h5>

                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">

                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#chart-line"></use>
                            </svg>
                        </span>


                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/data_cop" target="_self" class="em-c-text-link link" style="color: white;">Data
                                &amp;
                                Analytics CoP</a>
                        </h5>
                    </div>

                    <!-- <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#cloud"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/cloud_cop" target="_blank" class="em-c-text-link link">Cloud
                                CoP</a>
                        </h5>
                    </div> -->
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#file-code"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/pinkul" target="_self" class="em-c-text-link link" style="color: white;">PinKul</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#repeat"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/agile_cop" target="_self" class="em-c-text-link link" style="color: white;"> Agile
                                Practitioners</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#book"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/book_Club" target="_self" class="em-c-text-link link" style="color: white;"> PO Book
                                Club</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#contact-card"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/sm_cop" target="_self" class="em-c-text-link link" style="color: white;"> SM CoP</a>
                        </h5>
                    </div>
                    <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <span>
                            <svg class="em-c-icon em-c-icon--large" style="color: #FFFFFF;">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="unity-1.5.0/images/48/em-icons.svg#file-code"></use>
                            </svg>
                        </span>
                        <h5 class="em-u-padding-top-double">
                            <a href="#!/interest_network/codeforce" target="_self" class="em-c-text-link link" style="color: white;"> codeForceKL CoP</a>
                        </h5>
                    </div>

                    <!-- <div class="em-l-grid__item em-u-text-align-center em-u-padding-double">
                        <img src="unity-1.5.0/images/oil_icon.svg" style="height: 48px; width: 48px; margin: 0 auto;">
                        <h5 class="em-u-padding-top-double">
                            <a href="https://goto/XTODigital" target="_blank" class="em-c-text-link "> Cloud Network</a>
                        </h5>
                    </div> -->
                </div>

            </div>
        </div>
    </section>
</main>

<div id="feedback" class="em-u-padding-top-quad em-u-padding-bottom-double bg-violet white"
    style="background: #e5e5e5;">

    <div class="em-l-container">

        <div class="em-l-grid em-l-grid--2up em-u-padding-top-double em-u-padding-bottom-quad">

            <div class="em-l-grid__item em-u-padding-right-quad">
                <h1 class="em-u-font-style-regular" style="color: #890c58;">Ask a question, share a thought, make a
                    suggestion. </h1>
            </div>

            <div class="em-l-grid__item">

                <form id="feedback" name="feedback" novalidate=""
                    class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength"
                    ng-submit="submit_feedback(dat)" ng-if="show_form">
                    <fieldset class="em-c-fieldset no-border">

                        <div class="em-c-field em-is-readonly">
                            <label for="" class="em-c-field__label white">Name</label>
                            <div class="em-c-field__body">
                                <input ng-model="dat.name" type="text" placeholder="{{ user }}"
                                    class="em-c-field__input em-js-datepicker ng-pristine ng-untouched ng-valid ng-not-empty"
                                    value="" readonly="">
                                <svg class="em-c-icon em-c-icon--medium em-c-field__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="unity-1.5.0/images/24/em-icons.svg#icon-lock"></use>
                                </svg>
                            </div>
                            <div class="em-c-field__note white">Read only</div>
                        </div>

                        <div class="em-c-field em-u-margin-top">
                            <label for="" class="em-c-field__label white">Let's talk</label>
                            <div class="em-c-field__body">
                                <textarea ng-model="dat.feedback" required=""
                                    class="em-c-textarea ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength"
                                    id="" placeholder="Tell us what you're thinking!" rows="5"></textarea>
                            </div>

                            <div class="em-c-field__note white">
                                Required. 10 characters minimum.
                            </div>
                        </div>
                    </fieldset>

                    <div class="em-c-btn-group em-u-text-align-right" style="position: relative;">
                        <input type="submit" value="Send Feedback" class="em-c-btn em-c-btn--primary"
                            style="position:absolute;right:0; background-image: linear-gradient(45deg, #3a397b, #890c58); text-align: center; font-family: EMprint;" />
                    </div>

                </form>


                <div class="em-c-alert em-c-alert--success" role="alert" ng-if="feedback_submitted"
                    style="padding-top: 30 px;">
                    <svg class="em-c-icon em-c-icon--medium em-c-alert__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="unity-1.5.0/images/em-icons.svg#circle-check"></use>
                    </svg>
                    <div class="em-c-alert__body">
                        Thank you for your feedback !
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>